.vertical-center {
    min-height: 100%; 
    min-height: 100vh; 
    display: flex;
    align-items: center;
}

html body {
    direction: rtl;
    font-family: cocon;
}

.jumbotron {
    background-color: #fff !important;
}

.navbar-default {
    height: 20vh;
    border-bottom: 3px solid #aedff6;
    background-color: #fff;
}

.link-btn {
    font-size: 22px;
    color: black;
    margin: 2vh;
}
th {
     text-align: right;
}
@font-face {
    font-family: cocon;
    src: url(../font/cocon.ttf);
}
.btnRow{
    padding-top:0px !important;
}
.pointer{
    cursor:pointer;
}