<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <br />
            <img src="../img/admin.png" class="pull-left" />
            <h4 class="navbar-brand pointer" ui-sref="dashboard">System Admin</h4><br />
            <b class="text-warning pointer" ui-sref="login">خروج</b>
        </div>
        <ul class="nav navbar-nav pull-right">
            <br />
            <br />
            <li class="active text-warning">{{time | date:' hh:mm a'}}</li>
        </ul>
    </div>
</nav>
<div class="container ">
    <br />
    <div class="row">
        <form name="frmClient" novalidate>
            <div class="row">
                <div class="form-group col-md-3 col-md-push-9 ">
                    <label>اسم العميل</label>
                    <select class="form-control" required id="clientName" name="clientName" ng-model="selectedClient"
                            data-ng-options="client.BasicInfo_Name for client in clientList">
                        <option value="0" disabled selected>اختار العميل</option>
                    </select>
                    <span ng-show="frmClient.clientName.selectedClient == null && frmClient.clientName.$invalid">
                        <span class="text-danger" ng-show="frmClient.clientName.$error.required">مطلوب</span>
                    </span>
                </div>
                <div class="form-group col-md-3 col-md-push-3">
                    <label>تاريخ </label>
                    <input type="text" class="form-control" required pattern="[0-3]{1}[0-9]{1}-[0-9]{1}[0-9]{1}-[0-9]{4}" name="date" ng-model="newTransactions.Date" id="date">
                    <span ng-show="frmClient.date.$dirty && frmClient.date.$invalid">
                        <span class="text-danger" ng-show="frmClient.date.$error.required">مطلوب</span>
                        <span class="text-danger" ng-show="frmClient.date.$error.pattern">برجاء إدخال صيغة التاريخ بهذه الطريقة 2000-01-01</span>
                    </span>
                </div>
                <div class="form-group col-md-3 col-md-pull-3">
                    <label>قيمة</label>
                    <input type="number" class="form-control" pattern="^[0-9]{0,4}$" required name="value" ng-model="newTransactions.Amount" id="value">
                    <span ng-show="frmClient.value.$dirty && frmClient.value.$invalid">
                        <span class="text-danger" ng-show="frmClient.value.$error.required">مطلوب</span>
                        <span class="text-danger" ng-show="frmClient.value.$error.pattern">لا يزيد عن 4 ارقام</span>
                    </span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-md-6 col-md-push-6">
                    <label>بيان</label>
                    <input type="text" class="form-control" pattern="^.{1,40}$" required name="info" ng-model="newTransactions.Statement" id="info">
                    <span ng-show="frmClient.info.$dirty && frmClient.info.$invalid">
                        <span class="text-danger" ng-show="frmClient.info.$error.required">مطلوب</span>
                        <span class="text-danger" ng-show="frmClient.info.$error.pattern">البيان طويل جدا</span>
                    </span>
                </div>
                <div class="form-group col-md-3 col-md-pull-3">
                    <label>من حساب</label>
                    <select class="form-control" required name="clientName">
                        <option>Option 1</option>
                        <option>Option 2</option>
                    </select>
                </div>
            </div>
            <br />
            <br />
            <div class="alert alert-success" ng-show="modelMsg.length > 0">{{modelMsg}}</div>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                    <button type="submit" class="btn btn-lg btn-success" ng-click="saveObj(frmClient)">حفظ</button>
                </div>
                <div class="col-md-4 col-md-pull-4">
                    <button type="button" class="btn btn-lg btn-danger" ui-sref="dashboard">إلغاء</button>
                </div>
            </div>
        </form>
    </div>
</div>

<footer class="navbar-fixed-bottom text-center">
    <div class="row">
        <h4>برمجة و تطوير </h4>
    </div>
    <div class="row">
        <a href="http://Appout.co">Appout.co</a>
    </div>
</footer>
