<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <br />
            <img src="../img/admin.png" class="pull-left" />
            <h4 class="navbar-brand" ui-sref="dashboard">System Admin</h4><br />
            <b class="text-warning" ui-sref="login">خروج</b>
        </div>
        <ul class="nav navbar-nav pull-right">
            <br />
            <br />
            <li class="active text-warning">12:00</li>
        </ul>
    </div>
</nav>

<div class="container ">
    <br />
    <div class="row">
        <form name="frmClient" novalidate>
            <div class="row">
                <div class="form-group col-md-3 col-md-push-9  ">
                    <label>بحث</label>
                    <input type="text" class="form-control" name="searh" ng-model="client.searh" id="searh">
                </div>
            </div>
        </form>
        <br />
        <br />
        <br />
    </div>

    <table class="table">
        <tbody>
            <tr>
                <td>أمير على أحمد</td>
                <td>1-1-2017</td>
                <td>63001211120</td>
                <td>320جم</td>
                <td><button class="btn btn-link">تعديل</button><button class="btn btn-link">حذف</button></td>
            </tr>
            <tr>
                <td>أمير على أحمد</td>
                <td>1-1-2017</td>
                <td> 63001211120 </td>
                <td>320جم</td>
                <td><button class="btn btn-link">تعديل</button><button class="btn btn-link">حذف</button></td>
            </tr>
            <tr>
                <td>أمير على أحمد</td>
                <td>1-1-2017</td>
                <td>63001211120</td>
                <td>320جم</td>
                <td><button class="btn btn-link">تعديل</button><button class="btn btn-link">حذف</button></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-md-4 col-md-push-7">
            <button type="button" class="btn btn-lg btn-success">حفظ</button>
        </div>
        <div class="col-md-4 col-md-pull-6">
            <button type="button" class="btn btn-lg btn-danger" ui-sref="dashboard">إلغاء</button>
        </div>
    </div>

</div>
