<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <br />
            <img src="../img/admin.png" class="pull-left" />
            <h4 class="navbar-brand pointer" ui-sref="dashboard">System Admin</h4><br />
            <b class="text-warning pointer" ui-sref="login">خروج</b>
        </div>
        <ul class="nav navbar-nav pull-right">
            <br />
            <br />
            <li class="active text-warning">{{time | date:' hh:mm a'}}</li>
        </ul>
    </div>
</nav>
<div class="container">
    <br />
    <div class="row">
        <form name="frmClient" novalidate>
            <div class="row">
                <div class="form-group col-md-3 col-md-push-9 ">
                    <label>اسم العميل</label>
                    <input type="text" class="form-control" pattern="^.{1,35}$" required name="clientName" ng-model="client.name" id="clientName">
                    <span ng-show="frmClient.clientName.$dirty && frmClient.clientName.$invalid">
                        <span class="text-danger" ng-show="frmClient.clientName.$error.required">مطلوب</span>
                        <span class="text-danger" ng-show="frmClient.clientName.$error.pattern">اسم العميل طويل جدا</span>
                    </span>
                </div>
                <div class="col-md-3 col-md-push-3">
                    <label>من تاريخ</label>
                    <input type="text" class="form-control" required name="startDate" pattern="[0-3]{1}[0-9]{1}-[0-9]{1}[0-9]{1}-[0-9]{4}" id="startDate" ng-model="client.startDate">
                    <span ng-show="frmClient.startDate.$dirty && frmClient.startDate.$invalid">
                        <span class="text-danger" ng-show="frmClient.startDate.$error.required">مطلوب</span>
                        <span class="text-danger" ng-show="frmClient.startDate.$error.pattern">برجاء إدخال صيغة التاريخ بهذه الطريقة 2000-01-01</span>
                    </span>
                </div>
                <div class="col-md-3 col-md-pull-3">
                    <label>إلى</label>
                    <input type="text" class="form-control" required name="endDate" pattern="[0-3]{1}[0-9]{1}-[0-9]{1}[0-9]{1}-[0-9]{4}" id="endDate" ng-model="client.endDate">
                    <span ng-show="frmClient.endDate.$dirty && frmClient.endDate.$invalid">
                        <span class="text-danger" ng-show="frmClient.endDate.$error.required">مطلوب</span>
                        <span class="text-danger" ng-show="frmClient.endDate.$error.pattern">برجاء إدخال صيغة التاريخ بهذه الطريقة 2000-01-01</span>
                    </span>
                </div>
            </div>
            <br />
        </form>
    </div>

    <div class="row ">
        <div class="col col-md-8 col-md-offset-2 ">
            <table class="table table-bordered " style="direction:rtl">
                <thead>
                    <tr>
                        <th>أسم العميل</th>
                        <th>من تاريخ</th>
                        <th>إلى تاريخ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>شيماء</td>
                        <td>1-1-2017</td>
                        <td>1-1-2018</td>
                    </tr>
                    <tr>
                        <td>شيماء</td>
                        <td>1-1-2017</td>
                        <td>1-1-2018</td>
                    </tr>
                    <tr>
                        <td>شيماء</td>
                        <td>1-1-2017</td>
                        <td>1-1-2018</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <br />
    <br />

    <div class="row">
        <div class="row">
            <div class="col-md-4 col-md-push-6">
                <button type="button" class="btn btn-lg btn-success">طباعة</button>
            </div>
            <div class="col-md-4 col-md-pull-3">
                <button type="button" class="btn btn-lg btn-danger" ui-sref="dashboard">إلغاء</button>
            </div>
        </div>
    </div>
</div>

