<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <br />
            <img src="../img/admin.png" class="pull-left" />
            <h4 class="navbar-brand pointer" ui-sref="dashboard">System Admin</h4><br />
            <b class="text-warning pointer" ui-sref="login">خروج</b>
        </div>
        <ul class="nav navbar-nav pull-right">
            <br />
            <br />
            <li class="active text-warning">{{time | date:' hh:mm a'}}</li>
        </ul>
    </div>
</nav>

<div class="container ">
    <br />
    <div class="row">
        <form name="frmEmployee" novalidate>
            <div class="row">
                <div class="form-group col-md-3 col-md-push-9">
                    <label>أسم الموظف</label>
                    <select class="form-control" required id="employeeName" name="employeeName" ng-model="selectedEmployee"
                            data-ng-options="employee.BasicInfo_Name for employee in employeeList">
                        <option value="" disabled selected>اختار الموظف</option>
                    </select>
                    <span ng-show="frmEmployee.employeeName.selectedEmployee == null && frmEmployee.employeeName.$invalid">
                        <span class="text-danger" ng-show="frmEmployee.employeeName.$error.required">مطلوب</span>
                    </span>
                </div>
                <div class="form-group col-md-2  col-md-push-4 ">
                    <label>تاريخ</label>
                    <input type="text" class="form-control" required pattern="[0-3]{1}[0-9]{1}-[0-9]{1}[0-9]{1}-[0-9]{4}" name="date" ng-model="employee.Date" id="date">
                    <span ng-show="frmEmployee.date.$dirty && frmEmployee.date.$invalid">
                        <span class="text-danger" ng-show="frmEmployee.date.$error.required">مطلوب</span>
                        <span class="text-danger" ng-show="frmEmployee.date.$error.pattern"> برجاء إدخال صيغة التاريخ بهذه الطريقة 2000-01-01</span>
                    </span>
                </div>
                <div class="form-group col-md-1 col-md-push-1">
                    <label>قيمة</label>
                    <input type="number" class="form-control" pattern="^[0-9]{0,4}$" required name="value" ng-model="employee.Amount" id="value">
                    <span ng-show="frmEmployee.value.$dirty && frmEmployee.value.$invalid">
                        <span class="text-danger" ng-show="frmEmployee.value.$error.required">مطلوب</span>
                        <span class="text-danger" ng-show="frmEmployee.value.$error.pattern">لا يزيد عن 4 ارقام</span>
                    </span>
                </div>
                <div class="form-group col-md-2 col-md-pull-2">
                    <label>بيان</label>
                    <input type="text" class="form-control" pattern="^.{1,25}$" required name="info" ng-model="employee.Statement" id="info">
                    <span ng-show="frmEmployee.info.$dirty && frmEmployee.info.$invalid">
                        <span class="text-danger" ng-show="frmEmployee.info.$error.required">مطلوب</span>
                        <span class="text-danger" ng-show="frmEmployee.info.$error.pattern">البيان طويل جدا</span>
                    </span>
                </div>
                <div class="form-group col-md-3 col-md-pull-9 ">
                    <br />
                    <button type="submit" class="btn btn-lg btn-success" ng-click="addRow(frmEmployee)"> إضافة</button>
                </div>
            </div>
        </form>
        <br />
        <br />
        <br />
    </div>

    <table class="table">
        <tbody>
            <tr ng-repeat="row in expense">
                <td>{{selectedEmployee.BasicInfo_Name}}</td>
                <td>{{employee.Date}}</td>
                <td>{{employee.Amount}}</td>
                <td>كانتين</td>
                <td>{{employee.Statement}}</td>
                <td></td>
                <td><button class="btn btn-link">حذف</button></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <div class="alert alert-success" ng-show="modelMsg.length > 0">{{modelMsg}}</div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-4 col-md-push-7">
            <button type="button" class="btn btn-lg btn-success" ng-click="saveObj()">حفظ</button>
        </div>
        <div class="col-md-4 col-md-pull-6">
            <button type="button" class="btn btn-lg btn-danger" ui-sref="dashboard">إلغاء</button>
        </div>
    </div>

</div>
