<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <br />
            <img src="../img/admin.png" class="pull-left" />
            <h4 class="navbar-brand pointer">System Admin</h4><br />
            <b class="text-warning pointer" ui-sref="login">خروج</b>
        </div>
        <ul class="nav navbar-nav pull-right">
            <br />
            <br />
            <li class="active text-warning">{{time | date:' hh:mm a'}}</li>
        </ul>
    </div>
</nav>
<div class="container">
    <br />
    <div class="row">
        <div class="col-md-3 col-md-push-9">
            <div class="col-md-6 col-md-offset-5 text-center">
                <img class="img-responsive" src="img/client.png" />
                <br />
            </div>
            <a class="link-btn" href="#/createclient">عميل جديد</a><br />
            <a class="link-btn" href="#/clientcost"> العملاء</a><br />
            <a class="link-btn" href="#/client">سداد عميل</a><br />
            <a class="link-btn" href="#/clientpayment">مصاريف عملاء</a><br />
            <a class="link-btn" href="#/clientdata">حساب عميل</a><br />
        </div>




        <div class="col-md-3 col-md-push-3">
            <div class="col-md-6 col-md-offset-5 text-center">
                <img class="img-responsive" src="img/cash.png" />
                <br />
            </div>
            <a class="link-btn" href="#/generalexpenses">مصروفات عامة</a><br />
            <a class="link-btn" href="#/finance">تمويل</a><br />
            <a class="link-btn">حساب خزنة</a><br />
        </div>

        <div class="col-md-3 col-md-pull-3">
            <div class="col-md-6 col-md-offset-5 text-center">
                <img class="img-responsive" src="img/employee.png" />
                <br />
            </div>
            <a class="link-btn" href="#/createmployee">موظف جديد</a><br />
            <a class="link-btn" href="#/employeeadvancedpayments">سلفة</a><br />
            <a class="link-btn">حساب موظف</a><br />
            <a class="link-btn" href="#/createsalaries">رواتب</a><br />
        </div>
    </div>
</div>
<footer class="navbar-fixed-bottom text-center">
    <div class="row">
        <h4>برمجة و تطوير </h4>
    </div>
    <div class="row">
        <a href="http://Appout.co">Appout.co</a>
    </div>
</footer>
