<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <br />
            <img src="../img/admin.png" class="pull-left" />
            <h4 class="navbar-brand font" ui-sref="dashboard">System Admin</h4><br />
            <b class="text-warning" ui-sref="login">خروج</b>
        </div>
        <ul class="nav navbar-nav pull-right">
            <br />
            <br />
            <li class="active text-warning">12:00</li>
        </ul>
    </div>
</nav>
<div class="container ">
    <br />
    <div class="row">
        <form name="frmEmployee" novalidate>
            <div class="row">
                <div class="form-group col-md-3 col-md-push-9 font ">
                    <label>أسم الموظف</label>
                    <input type="text" class="form-control" pattern="^.{1,35}$" required name="employeeName" ng-model="employee.name" id="employeeName">
                    <span ng-show="frmEmployee.employeeName.$dirty && frmEmployee.employeeName.$invalid">
                        <span class="text-danger" ng-show="frmEmployee.employeeName.$error.required">مطلوب</span>
                        <span class="text-danger" ng-show="frmEmployee.employeeName.$error.pattern">أسم الموظف طويل جدا</span>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3 col-md-push-9 font ">
                    <label>تاريخ</label>
                    <input type="text" class="form-control" required name="date" ng-model="employee.date" id="date">
                    <span ng-show="frmEmployee.date.$dirty && frmEmployee.date.$invalid">
                        <span class="text-danger" ng-show="frmEmployee.date.$error.required">مطلوب</span>
                    </span>
                </div>
                <div class="form-group col-md-3 col-md-push-3">
                    <label>مدفوع</label>
                    <input type="text" class="form-control" pattern="^[0-9]{0,4}$" required name="paid" ng-model="employee.paid" id="paid">
                    <span ng-show="frmEmployee.paid.$dirty && frmEmployee.paid.$invalid">
                        <span class="text-danger" ng-show="frmEmployee.paid.$error.required">مطلوب</span>
                        <span class="text-danger" ng-show="frmEmployee.paid.$error.pattern">لا يزيد عن 4 ارقام</span>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-8 col-md-push-4 font ">
                    <label>ملاحظات</label>
                    <input type="text" class="form-control" pattern="^.{1,45}$" required name="notes" ng-model="employee.notes" id="notes">
                    <span ng-show="frmEmployee.notes.$dirty && frmEmployee.notes.$invalid">
                        <span class="text-danger" ng-show="frmEmployee.notes.$error.required">مطلوب</span>
                        <span class="text-danger" ng-show="frmEmployee.notes.$error.pattern">الملاحظات طويلة جدا</span>
                    </span>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-4 col-md-push-8">
                    <button type="button" class="btn btn-lg btn-success">حفظ</button>
                </div>
                <div class="col-md-4 col-md-pull-4">
                    <button type="button" class="btn btn-lg btn-danger" ui-sref="dashboard">إلغاء</button>
                </div>
            </div>
        </form>
    </div>
</div>