<div class="jumbotron vertical-center">
    <!-- Added class  -->
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <img src="../img/logo.jpg" />
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form name="frmLogin" novalidate>
                    <div class="form-group">
                        <label for="pwd">كلمة المرور</label>
                        <input type="password" class="form-control" id="pwd" name="pwd" pattern="^.{4,8}$"  ng-model="password" required>
                        <span ng-show="frmLogin.pwd.$dirty && frmLogin.pwd.$invalid">
                            <span class="text-danger" ng-show="frmLogin.pwd.$error.required">مطلوب</span>
                            <span class="text-danger" ng-show="frmLogin.pwd.$error.pattern">كلمة المرور من 4 الى 8 كحد أقصى</span>
                        </span>
                    </div>
                    <div class="alert alert-danger" ng-show="modelMsg.length > 0">{{modelMsg}}</div>
                    <button type="submit" class="btn btn-default" ng-disabled="frmLogin.$invalid" ng-click="submit()">دخول</button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="text-center">
    <div class="row">
        <h4>برمجة و تطوير </h4>
    </div>
    <div class="row">
        <a href="http://Appout.co">Appout.co</a>
    </div>
</footer>